.body-wrapper{
    .card-container{
        .header-wrapper{
            h1{

            }
            p{

            }
        }
        .form-wrapper{
            .input-wrapper{
                position: relative;
                label{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                }
                input{
                    padding: 10px;
                    height: 100%;
                    width: 100%;

                }
            }
        }
    }
    .background-container{

    }
}